<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\FitnessAgentsWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
    <!-- Disable IIS response buffering and extend request timeout for SSE endpoints -->
    <serverRuntime enabled="true" frequentHitThreshold="1" frequentHitTimePeriod="00:00:20" />
    <httpCompression>
      <dynamicTypes>
        <remove mimeType="text/event-stream" />
      </dynamicTypes>
    </httpCompression>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="api/chat/stream">
    <system.webServer>
      <aspNetCore>
        <environmentVariables />
      </aspNetCore>
      <serverRuntime enabled="true" frequentHitThreshold="1" />
    </system.webServer>
  </location>
  <system.web>
    <httpRuntime executionTimeout="600" maxRequestLength="104857600" />
  </system.web>
</configuration>
